section.section.navbar 
    h2.logo 
        a(href="/") Wine Card
        img(src="https://drive.google.com/file/d/1YCb6vfWmWwEY6Ph7Prpso8hcUUsrZaOD/view?usp=share_link", alt="")
        

    nav.nav  
        a.nav-item(href="/wines") Wines 
        a.nav-item(href="/wines/create") Add wine 
        //- a.nav-item(href="/countries") countries   