extends layout.pug 

block content 
    section.section.page
        h1= title

        ul.list
            li.list-item 
                a(href="/countries") Italy
            
            li.list-item 
                a(href="/countries") France

            li.list-item
                a(href="/countries") Spain

            //- li.list-item
            //-     a(href="/countries") Other
                  