extends layout.pug 

block content 
    section.section.page
        h1 Homepage
        br
        h2.text This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service.
        br
        h2.text One of the best wine collections in Central Asia. Every wine connoisseur will find the best solution for himself and the taste of a wonderful drink. The collection of wines from different countries will leave every visitor indifferent.